@media screen and (min-width: 700px) and (max-width:1000px) {
  body{
    color: white;
    background-color: black;
  }
  
  li.best{
    color: saddlebrown;
  }
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body{
    font-size: 75%;
  }
}

h1{
  font-size: 300%;
}

h2{
  font-size: 200%;
}

h4{
  text-transform: uppercase;
}

.best{
  color: chocolate;
}

.flashy{
  color: red;
  font-style: italic;
}